server:
  port: 8083
  servlet:
    context-path: /resource-server

spring:
  application:
    name: resource-org.ratelframework.ratel.codegen.service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: c0797ecb-301e-4137-84b7-7f14964712df
  profiles:
    active: dev
  boot:
    admin:
      client:
        url: localhost:8080
security:
  oauth2:
    resource:
      #从authServer认证中心验证token
      token-info-uri: http://localhost:8082/oauth/check_token
      prefer-token-info: true
    client:
      access-token-uri: http://localhost:8082/oauth/token
      user-authorization-uri: http://localhost:8082/oauth/authorize
      #appId
      client-id: client-id
      #appSecret
      client-secret: 123456

management:
  endpoints:
    web:
      exposure:
        exclude: '*'
  endpoint:
    health:
      enabled: true
      show-details: always
    info:
      enabled: true

