server:
  port: 0
  servlet:
    context-path: /product

spring:
  application:
    name: product-org.ratelframework.ratel.codegen.service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: c0797ecb-301e-4137-84b7-7f14964712df
  profiles:
    active: dev
  boot:
    admin:
      client:
        url: localhost:8080
management:
  endpoints:
    web:
      exposure:
        exclude: '*'
  endpoint:
    health:
      enabled: true
      show-details: always
    info:
      enabled: true

