spring:
  application:
    name: nacos-order-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: ********-****-****-****-************
server:
  port: 8080
