server:
  port: 0

spring:
  application:
    name: order-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: ********-****-****-****-************
  profiles:
    active: dev
  boot:
    admin:
      client:
        url: localhost:8080
management:
  endpoints:
    web:
      exposure:
        exclude: '*'
  endpoint:
    health:
      enabled: true
      show-details: always
    info:
      enabled: true

