spring:
  application:
    name: nacos-order-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: c0797ecb-301e-4137-84b7-7f14964712df
server:
  port: 8080
